<div class="main_">

  <div class="contents">

    <div class="article_show">

      <div class="article_show_area">

          <div class="article_image_area">
            <%= image_tag(@article.image,class: 'article_show_image') %>
          </div>

          <div class="article_title_show">
            <%= @article.title %>
          </div>

          <div class="article_content_show">
            <%= @article.content %>
          </div>

        <% if user_signed_in? && current_user.id == @article.user_id %>
        <div class="master_operation">
          <%= link_to "編集する", edit_article_path(@article.id), class: :master_operation_btn %>
          <%= link_to "削除する", article_path(@article.id), method: :delete, class: :master_operation_btn %>
        </div>
        <% end %>

      </div>

    </div>

  </div>

    <%= render partial: "articles/comment", collection: @comments  %>

      <div class="form">

        <div class="comment">コメント投稿欄</div>

        <%= form_with(model: [@article, @comment], local: true) do |f|%>
            
          <%= render 'shared/error_messages', model:@comment %>

          <div class="form_graduate">
            <%= f.text_field :graduating_class, placeholder: "  卒業期" %>
          </div>

          <div class="form_name">
            <%= f.text_field :name, placeholder: "  お名前" %>
          </div>

          <div class="form_content">
            <%= f.text_area :message, placeholder: "  コメント内容" %>
          </div>

          <div class="form_submit">
            <%= f.submit "コメントする", class: :form_btn   %>
          </div>

        <% end %>

      </div>

</div>