<div class="main_">

  <div class="contents">

    <div class="mailer">

      <div class="form">

        <%= form_with model: @contact, url: {controller: 'contacts', action: 'create'}, local: true do |f|%>

          <div class="form_name">
            <%= f.text_field :name, placeholder:"  お名前" %>
          </div>

          <div class="form_email">
            <%= f.text_field :email, placeholder:"  メールアドレス" %>
          </div>

          <div class="form_content">
            <%= f.text_area :content, placeholder:"  内容" %>
          </div>

          <div class="form_submit">
            <%= f.submit "送信する", class: :form_btn  %>
          </div>

        <% end %>
      
      </div>
    
    </div>

  </div>

</div>