<!DOCTYPE html>
<html>
  <head>
    <title>KRFC --β--</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <!-- ヘッダー上部 -->
    <div class="upper">

      <div class="header_left">
        <div class="title">
          <%= link_to image_tag("logo.PNG", class: :logo), root_path %>
          <div class="title_title">K.R.F.C.</div>
        </div>
      </div>
      <div class="header_right">
        <div class="header_buttons">
          <% if user_signed_in? %>
            <%= link_to "記事投稿", new_article_path, class: :header_button %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :header_button %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: :header_button %>
            <%= link_to "新規登録", new_user_registration_path, class: :header_button %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- ヘッダー下部 -->
    <div class="header_menu">
      <div class="menu">menu:</div>
      <div class="menu_buttons">
        <%= link_to "TOP", root_path, class: :menu_button %>
        <%= link_to "記事", pages_articles_path, class: :menu_button %>
        <%= link_to "公式戦結果", pages_result_path , class: :menu_button %>
        <%= link_to "会員メニュー", pages_member_path, class: :menu_button %>
        <%= link_to "管理者へメール", new_contact_path, class: :menu_button %>
        <%= link_to "リンク", root_path, class: :menu_button %>
      </div>
    </div>
  </header>

  <body>
      <div class="main">
        <%= yield %>
      </div>
  </body>

  <footer>
    <div class="footer_text">K.R.F.C since 1962</div>
  </footer>
</html>
